@import "tailwindcss";

@layer base {
  /* Ye line sabse important hai v4 ke liye */
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  .dark {
    --background: #020617; /* Slate 950 */
    --foreground: #ffffff;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}

/* Custom dark variant manual toggle ke liye */
@variant dark (&:where(.dark, .dark *));